<a href="https://colab.research.google.com/github/Pragatipri/pri.txt/blob/test/Test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import numpy as np
my_array = np.array([2,7,11,15])
my_array

array([ 2,  7, 11, 15])

In [8]:
#for i in range(len(my_array)):
 # if i + i == 9:
  # print(i)

In [10]:
def checking_sum(a,b):
  if a + b == 9:
    print (my_array[a], my_array[b])

checking_sum(0,1)

In [11]:
import numpy as np

my_array = np.array([2, 7, 11, 15])

def checking_sum(a, b):
    if my_array[a] + my_array[b] == 9:  # Use values at indices
        print(my_array[a], my_array[b])

checking_sum(0, 1)

2 7

In [2]:
my_list = ["apples", "pears", "oranges", "fruits"]
count = 0
for elements in my_list:
    print(elements)
    if count == 1:
      print ("count is 1")

    count = count + 1

apples
pears
count is 1
oranges
fruits

In [6]:
for x in range(len(my_list)):
  print(my_list[x])
  if x == 1:
    print ("x is 1")

apples
pears
x is 1
oranges
fruits

In [7]:
for x, element in enumerate (my_list):
  print (x, element)

0 apples
1 pears
2 oranges
3 fruits

In [9]:
enumerate(my_list)

In [10]:
for index, element in enumerate(my_list):
  print(index, element)

0 apples
1 pears
2 oranges
3 fruits

In [16]:
new_list = [2,7,11,15]

for index, element in enumerate(new_list):
  if element + element == 9:
    print(index, index)
  elif element + element != 9:
    print("no match")

no match
no match
no match
no match

In [17]:
for i in range(len(new_list)):
  for j in range(i+1, len(new_list)):
    if new_list[i] + new_list[j] == 9:
      print(i, j)

0 1

In [24]:
new_list = [2,7,11,15]
target = 9
list_dic = {}

for i, element in enumerate(new_list):
  if target - element in list_dic:
    print(list_dic[target - element], i)
  else :
    list_dic[element] = i

0 1